<div data-ng-controller="tangent.test.controllers.IndexController as ic">
    <div class="page-topbar">
        <div class="logo-area"></div>
        <div class="quick-area">
            <div class="pull-left">
                <ul class="info-menu left-links list-inline list-unstyled">
                    
                </ul>
            </div>
            <div class="pull-right">
                <ul class="info-menu right-links list-inline list-unstyled">
                    <li class="profile">
                        <a href="javascript:void(0);" data-toggle="dropdown" class="toggle">
                            <img src="images/profile.png" alt="Profile" class="img-circle img-inline" />
                            <span><span data-ng-bind="ic.scope.fullname"></span> <i class="fa fa-angle-down"></i></span>
                        </a>
                        <ul class="dropdown-menu profile animated fadeIn">
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-user"></i>
                                    Profile
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>