<div class="page-sidebar">
        
    <div class="page-sidebar-wrapper" id="main-menu-wrapper">

        <div class="profile-info row">
            <div class="profile-image col-md-4 col-sm-4 col-xs-4">
                <a href="javascript:void(0);" data-ng-click="ic.scope.load_profile()">
                    <img alt="" src="images/profile.png" class="img-responsive img-circle" />
                </a>
            </div>

            <div class="profile-details col-md-8 col-sm-8 col-xs-8">
                <h3>
                    <a href="javascript:void(0);" data-ng-click="ic.scope.load_profile()" data-ng-bind="ic.scope.user.fullname"></a>
                    <span class="profile-status online"></span>
                </h3>
                <p class="profile-title" data-ng-bind="ic.scope.user.email"></p>
            </div>
        </div>

        <ul class="wraplist">
            <li class="open">
                <a href="javascript:void(0);" data-ng-click="ic.scope.load_template('views/dashboard/partial.html')">
                    <i class="fa fa-dashboard"></i>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <li class="open">
                <a href="javascript:void(0);" data-ng-click="ic.scope.load_template('views/employees/partial.html')">
                    <i class="fa fa-users"></i>
                    <span class="title">Employees</span>
                </a>
            </li>
        </ul>

    </div>

    <div class="project-info">

        <div class="block1">
            <div class="data">
                <span class="title">Version</span>
                <span class="total" data-ng-bind="ic.scope.version"></span>
            </div>
        </div>

    </div>

</div>